*{
	padding: 0;
	margin: 0;
}
body{
	display: grid;
	grid-template-columns:300px 300px ;
	grid-template-rows:100px 100px 100px 100px ;
	grid-row-gap:10px;
	grid-column-gap:10px;
}

.a{
	grid-column:1/2;
	grid-row:1/2;
	background: #444444;
}
.b{
	grid-column:2/3;
	grid-row:1/2;
	background: #444444;
}
.c{
	grid-column:1/2;
	grid-row:2/4;
	background: #444444;
}
.d{
	display: grid;
	grid-column:2/3;
	grid-row:2/4;
	background: #444444;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows:50px 50px;
	grid-row-gap:10px;
	grid-column-gap:10px;
	padding: 10px;
	box-sizing: border-box;
}
.e{
	grid-column:1/3;
	grid-row:1/2;
	background: white;
}
.f{
	grid-column:1/2;
	grid-row:2/3;
	background: white;
}
.g{
	grid-column:2/3;
	grid-row:2/3;
	background: white;
}